# Python #
##########
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env

# Virtual Environments #
########################
venv/
env/

# Jupyter Notebook #
####################
.ipynb_checkpoints/

# Logs #
########
*.log

# IDE/Editor Settings #
#######################
.vscode/
.idea/

