<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data Visualization</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>Weather Data Visualization</h1>
    <form id="dropdown-form">
        <label for="city-dropdown">Select a City:</label>
        <select id="city-dropdown" name="location_name">
            <option value="" disabled selected>Select a city</option>
        </select>
        <button type="submit">View Data</button>
    </form>
    <div id="visualization"></div>
    <div id="humidity-visualization"></div>
    <div id="windspeed-visualization"></div>

    <div id="map"></div>
    <div id="bar-chart"></div>

    <script src="/static/script.js"></script>
</body>
</html>
