<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Weather Guide</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>Vacation Weather Guide</h1>
    <!-- Dropdown Form -->
    <form id="dropdown-form">
        <label for="city-dropdown">Select a City:</label>
        <select id="city-dropdown" name="location_name">
            <option value="" disabled selected>Select a city</option>
        </select>
        <button type="submit">View Data</button>
    </form>



    <select id="month-dropdown"></select>
    <button id="recenter-button">Recenter Map</button>
    <div id="map" style="height: 500px;"></div>
 
    <!-- Visualization Section -->
<div id="visualization" class="box">
    <h2>Key Weather Data</h2>
    <!-- All graphs will be inside one container -->
    <div id="graphs-container">
        <div id="temperature-visualization" class="graph"></div>
        <div id="humidity-visualization" class="graph"></div>
        <div id="windspeed-visualization" class="graph"></div>
        <div id="uvindex-visualization" class="graph"></div>
    </div>
</div>   
    

    <script src="/static/script.js"></script>



</body>
</html>